**Python For loop assignment and List comprehension**

**1. Print numbers from 1 to 10 using a for loop:**

In [ ]:
# Program to print numbers from 1 to 10 using a for loop

# Using the range function to generate numbers from 1 to 10
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

*The range(1, 11) function generates numbers from 1 to 10

The for loop iterates over these numbers.

The print(i) statement prints each number in the range.

**2. Calculate the sum of all numbers in a list using a for loop:**

In [ ]:
# Program to calculate the sum of numbers in a list using a for loop

# Input list of numbers
numbers = [1, 2, 3, 4, 5]

# Initialize sum_result to store the sum
sum_result = 0

# Using a for loop to iterate through the list and calculate the sum
for num in numbers:
    sum_result += num

# Print the result
print("Sum:", sum_result)

Sum: 15

The program defines a list of numbers.

A variable sum_result is initialized to store the sum of numbers.

The for loop iterates through each element in the list, and the sum is calculated.

The final sum is printed.

**3.Print characters of a string in reverse order using a for loop:**

In [ ]:
# Program to print characters of a string in reverse order using a for loop

# Input string
my_string = "Hello, World!"

# Using a for loop and reversed function to iterate through the string in reverse order
for char in reversed(my_string):
    print(char)

!
d
l
r
o
W

,
o
l
l
e
H

The program defines a string.

The for loop iterates over the reversed version of the string using the reversed() function.

Each character is printed, resulting in the characters being displayed in reverse order.

**4. Find the factorial of a given number using a for loop:**

In [ ]:
# Program to find the factorial of a given number using a for loop

# Input number
number = int(input("Enter a number"))

# Initialize factorial to store the result
factorial = 1

# Using a for loop to calculate the factorial
for i in range(1, number + 1):
    factorial *= i

# Print the result
print("Factorial:", factorial)

Enter a number5
Factorial: 120

The program takes an input number.

A variable factorial is initialized to store the result.

The for loop iterates from 1 to the input number, and the factorial is calculated.

The final factorial is printed.

**5. Print the multiplication table of a given number using a for loop:**

In [ ]:
# Program to print the multiplication table of a given number using a for loop

# Input number
num = int(input("Enter a no: "))

# Using a for loop to iterate and print the multiplication table
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a no: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

The program takes an input number.

The for loop iterates from 1 to 10.

Inside the loop, the multiplication of the input number and the current iteration value is printed in the desired format.

**6. Count the number of even and odd numbers in a list using a for loop:**

In [ ]:
# Program to count the number of even and odd numbers in a list using a for loop

# Input list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Initialize counters for even and odd numbers
even_count = 0
odd_count = 0

# Using a for loop to iterate through the list and count even and odd numbers
for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

# Print the results
print("Even numbers:", even_count)
print("Odd numbers:", odd_count)

Even numbers: 4
Odd numbers: 5

First defined list

even_count and odd_count, are initialized to 0.

The for loop iterates through each number in the list and checks whether it's even or odd, updating the respective counters.

The final counts are printed.

**7. Print squares of numbers from 1 to 5 using a for loop:**

In [ ]:
# Program to print squares of numbers from 1 to 5 using a for loop

# Using a for loop to iterate and print the squares
for i in range(1, 6):
    print(f" square of {i} is {i**2}")

 square of 1 is 1
 square of 2 is 4
 square of 3 is 9
 square of 4 is 16
 square of 5 is 25

The for loop iterates from 1 to 5

Inside the loop, the square of the current iteration value is calculated using i**2

The result is printed i

**8. Find the length of a string without using the len() function**

In [ ]:
# Program to find the length of a string without using the len() function

# Input string
my_string = input("Enter string: ")

# Initialize length variable to store the length
length = 0

# Using a for loop to iterate through the string and count characters
for char in my_string:
    length += 1

# Print the result
print("Length of string is :", length)

Enter string: mayuresh
Length of strin is : 8

Take string from user

A variable length is initialized to 0.

The for loop iterates through each character in the string, incrementing the length counter.

The final length is printed.

**9. Calculate the average of a list of numbers using a for loop:**

In [ ]:
# Program to calculate the average of a list of numbers using a for loop

# Input list of numbers
numbers = [1, 2, 3, 4, 5]

# Initialize total to store the sum
total = 0

# Using a for loop to iterate through the list and calculate the sum
for num in numbers:
    total += num

# Calculate the average
average = total / len(numbers)

# Print the result
print("Average:", average)

Average: 3.0

A variable total is initialized to store the sum of numbers.

The for loop iterates through each number in the list, and the sum is calculated.

The average is then calculated by dividing the sum by the length of the list, and the result is printed.

**10. Print the first n Fibonacci numbers using a for loop:**

In [ ]:
# Program to print the first n Fibonacci numbers using a for loop

# Function to generate Fibonacci sequence
def generate_fibonacci(n):
    fibonacci_sequence = [0, 1]

    for i in range(2, n):
        next_number = fibonacci_sequence[-1] + fibonacci_sequence[-2]
        fibonacci_sequence.append(next_number)

    return fibonacci_sequence

# Input: Number of Fibonacci numbers to print
n = int(input("Enter the value for n : "))

# Generate and print the first n Fibonacci numbers
fibonacci_numbers = generate_fibonacci(n)
print(f"The first {n} Fibonacci numbers are:", fibonacci_numbers)

Enter the value for n : 15
The first 15 Fibonacci numbers are: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

 defines a function generate_fibonacci to generate the Fibonacci sequence up to the given number n.

Inside the function, a list fibonacci_sequence is initialized with the first two Fibonacci numbers.

The for loop iterates from 2 to n, calculating the next Fibonacci number and appending it to the sequence.

The main part of the program sets the value of n and then calls the generate_fibonacci function to obtain the first n Fibonacci numbers.

**11. Check if a given list contains any duplicates using a for loop:**

In [ ]:
# Program to check if a given list contains any duplicates using a for loop

# Input list
my_list = [1, 2, 3, 4, 5, 2]

# Initialize a set to store unique elements
unique_elements = set()

# Flag to check for duplicates
has_duplicates = False

# Using a for loop to iterate through the list
for item in my_list:
    if item in unique_elements:
        has_duplicates = True
        break
    else:
        unique_elements.add(item)

# Print the result
if has_duplicates:
    print("The list contains duplicates.")
else:
    print("The list does not contain duplicates.")

The list contains duplicates.


It uses a for loop to iterate through each item in the list.
Inside the loop, it checks if the current item is already in the set.

If yes, it sets has_duplicates to True and breaks out of the loop.

If no duplicates are found, it adds the current item to the set.
The final result is printed based on whether duplicates were found.

**12. Print the prime numbers in a given range using a for loop:**

In [ ]:
# Program to print prime numbers in a given range using a for loop

# Input range
start_range = int(input("set start range:"))
end_range = int(input("set end range:"))

# Using a for loop to iterate through the range
for num in range(start_range, end_range + 1):
    if num > 1:
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                break
        else:
            print(num)

set start range:1
set end range:50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

The program uses a nested for loop to iterate through the given range of numbers.

The outer loop iterates through each number in the specified range.

The inner loop checks if the current number is prime by dividing it by numbers from 2 to the square root of the current number.

If the inner loop completes without finding a factor, the number is prime, and it is printed

**13. Count the number of vowels in a string using a for loop:**

In [ ]:
# Program to count the number of vowels in a string using a for loop

# Input string
my_string = input("Enter string : ")

# Initialize vowel count
vowel_count = 0

# Using a for loop to iterate through the string
for char in my_string:
    if char.lower() in "aeiou":
        vowel_count += 1

# Print the result
print("Number of vowels:", vowel_count)

Enter string : mayuresh
Number of vowels: 3

The program initializes a counter (vowel_count) to keep track of the number of vowels.

It uses a for loop to iterate through each character in the input string.

Inside the loop, it checks if the lowercase version of the character is a vowel. If yes, it increments the vowel count.

The final count is printed.

**14. Find the maximum element in a 2D list using a nested for loop:**

In [ ]:
# Program to find the maximum element in a 2D list using nested for loops

# Input 2D list
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Initialize max_element with the minimum possible value
max_element = float('-inf')

# Using nested for loops to iterate through the matrix
for row in matrix:
    for element in row:
        if element > max_element:
            max_element = element

# Print the result
print("Maximum element:", max_element)

Maximum element: 9

The program initializes max_element to the minimum possible value (float('-inf')).

It uses nested for loops to iterate through each element in the 2D list.

Inside the inner loop, it compares the current element with the current maximum (max_element). If the current element is greater, it updates max_element.

**15. Remove all occurrences of a specific element from a list using a for loop:**

In [ ]:
# Program to remove all occurrences of a specific element from a list using a for loop

# Input list
my_list = [1, 2, 3, 4, 2, 5, 2]

# Element to be removed
element_to_remove = 2

# Using a for loop to iterate through the list and remove occurrences
for item in my_list[:]:  # Create a copy to avoid modifying the list during iteration
    if item == element_to_remove:
        my_list.remove(item)

# Print the modified list
print("List after removing", element_to_remove, ":", my_list)

List after removing 2 : [1, 3, 4, 5]

The program removes all occurrences of a specific element (element_to_remove) from the list (my_list).

It creates a copy of the list using slicing (my_list[:]) to avoid modifying the list during iteration.

It uses a for loop to iterate through the copy of the list and removes occurrences of the specified element.

The modified list is printed.

**16. Generate a multiplication table for numbers from 1 to 5 using a nested for loop:**

In [ ]:
# Program to generate a multiplication table for numbers from 1 to 5 using nested for loops

# Using nested for loops to generate the multiplication table
for i in range(1, 6):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

The program uses nested for loops to generate a multiplication table for numbers from 1 to 5.

The outer loop (for i in range(1, 6)) iterates through numbers from 1 to 5.

The inner loop (for j in range(1, 11)) iterates through numbers from 1 to 10.

Inside the inner loop, it prints the multiplication expression and result in the desired format.

**17. Convert a list of Fahrenheit temperatures to Celsius using a for loop:**

In [ ]:
# Using a for loop to iterate through the list and convert temperatures
fahrenheit_temps = [32, 68, 95, 104]  # Sample Fahrenheit temperatures
celsius_temps = [(temp - 32) * 5/9 for temp in fahrenheit_temps]

# Print the result
print("Celsius Temperatures:", celsius_temps)

Celsius Temperatures: [0.0, 20.0, 35.0, 40.0]

The program uses a list comprehension to iterate through each temperature in the Fahrenheit list and converts it to Celsius.

The formula **(temp - 32) * 5/9** is applied to each temperature in the list.

The resulting Celsius temperatures are stored in the celsius_temps list.

**18. Print common elements from two lists using a for loop:**

In [ ]:
# Program to print common elements from two lists using a for loop

# Input lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Using a for loop to iterate through the first list and check for common elements
common_elements = [element for element in list1 if element in list2]

# Print the result
print("Common elements:", common_elements)

Common elements: [3, 4, 5]

The program uses a list comprehension to iterate through elements in the first list (list1).

For each element in list1, it checks if the element is also present in the second list (list2).

The common elements are stored in the common_elements list.

**19. Print the pattern of right-angled triangles using a for loop:**

In [ ]:
# Program to print the pattern of right-angled triangles using a for loop

# Input number of rows
num_rows = 5

# Using a for loop to iterate through rows
for i in range(1, num_rows + 1):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *

The program uses a for loop to iterate through rows, where each row represents a line of the right-angled triangle.

Inside the loop, it prints '*' multiplied by the current row number.
The number of '*' characters printed in each row corresponds to the row number.

**20. Find the greatest common divisor (GCD) of two numbers using a for loop:**

In [ ]:
# Program to find the greatest common divisor (GCD) of two numbers using a for loop

# Function to find GCD
def find_gcd(a, b):
    while b:
        a, b = b, a % b
    return a

# Input numbers
num1 = int(input("enter value of num 1: "))
num2 = int(input("enter value of num 2: "))

# Using the function to find GCD
gcd_result = find_gcd(num1, num2)

# Print the result
print("GCD of", num1, "and", num2, "is:", gcd_result)

enter value of num 1: 6
enter value of num 2: 12
GCD of 6 and 12 is: 6

The program defines a function find_gcd that implements the Euclidean algorithm to find the greatest common divisor (GCD) of two numbers.
The function is then used to find the GCD of two input numbers (num1 and num2)

2**1. Calculate the sum of the digits of numbers in a list using a list comprehension:**

In [1]:
# Input list of numbers
number_list = [123, 456, 789]

# Using list comprehension to calculate the sum of digits for each number
digit_sums = [sum(int(digit) for digit in str(number)) for number in number_list]

# Print the result
print("Sum of digits for each number:", digit_sums)

Sum of digits for each number: [6, 15, 24]

The program uses a list comprehension to iterate through each number in the number_list.

For each number, it converts it to a string and then converts each digit back to an integer.

The sum function calculates the sum of these digits.

sums are stored in the digit_sums list.

**22. Find the prime factors of a given number using a for loop and list comprehension:**

In [11]:
# Function to find prime factors of a number
def prime_factors(n):
    factors = [factor for factor in range(2, n + 1) if n % factor == 0]
    return [factor for factor in factors if all(factor % i != 0 for i in range(2, int(factor**0.5) + 1))]

# Input number
num = int(input("Enter a number"))

# Find prime factors using the function
result = prime_factors(num)

# Print the result
print(f"Prime factors of {num}: {result}")

Enter a number65
Prime factors of 65: [5, 13]

The program defines a function prime_factors that finds all factors of a given number.

The list comprehension uses this function to find all factors of the input number.

It then filters the prime factors by checking if each factor is divisible only by 1 and itself.
The result is a list of prime factors for the given number.

**23. Extract unique elements from a list and store them in a new list using list comprehension:**

In [6]:
# Input list with duplicates
original_list = [1, 2, 2, 3, 4, 4, 5]

# Extract unique elements using list comprehension
unique_elements = list(set(original_list))

# Print the result
print("Original List:", original_list)
print("Unique Elements:", unique_elements)

Original List: [1, 2, 2, 3, 4, 4, 5]
Unique Elements: [1, 2, 3, 4, 5]

 program uses a set to automatically remove duplicates from the original_list.

 set is then converted back to a list using list() to maintain the original order of elements.

 result is a list containing only the unique elements.

**24. Generate a list of all palindromic numbers up to a specified limit using list comprehension:**

In [7]:
# Input limit
limit = 100

# Generate palindromic numbers using list comprehension
palindromic_numbers = [num for num in range(limit + 1) if str(num) == str(num)[::-1]]

# Print the result
print("Palindromic Numbers up to", limit, ":", palindromic_numbers)

Palindromic Numbers up to 100 : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

 program uses a list comprehension to iterate through numbers up to the specified limit.

For each number, it checks if the string representation of the number is the same in reverse.

If true, the number is a palindrome, and it is included in the palindromic_numbers list.

**25. Flatten a nested list using list comprehension:**

In [8]:
# Input nested list
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Flatten the nested list using list comprehension
flattened_list = [element for sublist in nested_list for element in sublist]

# Print the result
print("Nested List:", nested_list)
print("Flattened List:", flattened_list)

Nested List: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flattened List: [1, 2, 3, 4, 5, 6, 7, 8, 9]

 program uses a nested list comprehension to iterate through each element in each sublist of the nested_list.

 result is a flattened list containing all elements from the original nested list.

**26. Compute the sum of even and odd numbers in a list separately using list comprehension:**

In [9]:
# Input list of numbers
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Compute sum of even and odd numbers using list comprehension
sum_even_odd = {
    'Sum of Even Numbers': sum(num for num in number_list if num % 2 == 0),
    'Sum of Odd Numbers': sum(num for num in number_list if num % 2 != 0)
}

# Print the result
print("Number List:", number_list)
print("Sum of Even and Odd Numbers:", sum_even_odd)

Number List: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Sum of Even and Odd Numbers: {'Sum of Even Numbers': 20, 'Sum of Odd Numbers': 25}

program uses a dictionary comprehension to compute the sum of even and odd numbers separately.

It iterates through the number_list using list comprehensions with conditions for even and odd numbers.

 result is a dictionary containing the sums of even and odd numbers.

**27. Generate a list of squares of odd numbers between 1 and 10 using list comprehension:**

In [10]:
# Generate squares of odd numbers using list comprehension
squares_of_odd = [num**2 for num in range(1, 11) if num % 2 != 0]

# Print the result
print("Squares of Odd Numbers between 1 and 10:", squares_of_odd)

Squares of Odd Numbers between 1 and 10: [1, 9, 25, 49, 81]

 program uses a list comprehension to iterate through numbers from 1 to 10.

It squares each odd number by checking if the number is not divisible by 2 (num % 2 != 0).

 result is a list of squares of odd numbers between 1 and 10.

**28. Combine two lists into a dictionary using list comprehension:**

In [12]:
# Input lists
keys = ['a', 'b', 'c']
values = [1, 2, 3]

# Combine lists into a dictionary using list comprehension
result_dict = {k: v for k, v in zip(keys, values)}

# Print the result
print("Keys:", keys)
print("Values:", values)
print("Combined Dictionary:", result_dict)

Keys: ['a', 'b', 'c']
Values: [1, 2, 3]
Combined Dictionary: {'a': 1, 'b': 2, 'c': 3}

program uses a dictionary comprehension to combine two lists (keys and values) into a dictionary.

It uses the zip function to pair elements with the same index from both lists.

 result is a dictionary where each key-value pair comes from the corresponding indices of the input lists.

**29. Extract vowels from a string and store them in a list using list comprehension:**

In [14]:
# Input string
my_string = input("Enter string : ")

# Extract vowels using list comprehension
vowels = [char for char in my_string if char.lower() in "aeiou"]

# Print the result
print("Original String:", my_string)
print("Extracted Vowels:", vowels)

Enter string : hello
Original String: hello
Extracted Vowels: ['e', 'o']

program uses a list comprehension to iterate through each character in the input string.

It checks if the lowercase version of the character is a vowel (char.lower() in "aeiou").

result is a list containing the extracted vowels from the original string.

**30. Remove all non-numeric characters from a list of strings using list comprehension:**

In [15]:
# Input list of strings
string_list = ['abc123', '456def', '789ghi']

# Remove non-numeric characters using list comprehension
numeric_strings = [''.join(char for char in string if char.isnumeric()) for string in string_list]

# Print the result
print("Original String List:", string_list)
print("Numeric Strings:", numeric_strings)

Original String List: ['abc123', '456def', '789ghi']
Numeric Strings: ['123', '456', '789']

program uses a nested list comprehension to iterate through each character in each string of the string_list.

It checks if each character is numeric using char.isnumeric().

 result is a list of strings where each string contains only numeric characters.

**31. Generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list comprehension:**

In [17]:
# Input limit
limit = int(input(" Enter your Limit : "))

# Implement the Sieve of Eratosthenes algorithm using list comprehension
sieve = [True] * (limit + 1)
sieve[0], sieve[1] = False, False

for num in range(2, int(limit**0.5) + 1):
    if sieve[num]:
        sieve[num*num : limit+1 : num] = [False] * len(range(num*num, limit+1, num))

# Generate the list of prime numbers using list comprehension
prime_numbers = [num for num in range(2, limit + 1) if sieve[num]]

# Print the result
print("Prime Numbers up to", limit, ":", prime_numbers)

 Enter your Limit : 50
Prime Numbers up to 50 : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

program uses the Sieve of Eratosthenes algorithm to efficiently find prime numbers up to a given limit.

It initializes a boolean list (sieve) where each index represents a number, and True indicates a potential prime.

It marks multiples of each prime as False in the sieve.

 resulting list comprehension filters out non-prime numbers.

**32. Generate a list of all Pythagorean triplets up to a specified limit using list comprehension:**

In [18]:
# Input limit
limit = 20

# Generate Pythagorean triplets using list comprehension
pythagorean_triplets = [(a, b, c) for a in range(1, limit+1)
                         for b in range(a, limit+1)
                         for c in range(b, limit+1) if a**2 + b**2 == c**2]

# Print the result
print("Pythagorean Triplets up to", limit, ":", pythagorean_triplets)

Pythagorean Triplets up to 20 : [(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

 program uses nested list comprehension to generate Pythagorean triplets.

It iterates through combinations of a, b, and c in the specified range.

 condition a**2 + b**2 == c**2 ensures that the combination forms a Pythagorean triplet.

**33. Generate a list of all possible combinations of two lists using list comprehension:**

In [19]:
# Input lists
list1 = [1, 2, 3]
list2 = ['a', 'b']

# Generate all possible combinations using list comprehension
combinations = [(x, y) for x in list1 for y in list2]

# Print the result
print("List 1:", list1)
print("List 2:", list2)
print("All Possible Combinations:", combinations)

List 1: [1, 2, 3]
List 2: ['a', 'b']
All Possible Combinations: [(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]

program uses nested list comprehension to create all possible combinations of elements from two lists.

It iterates through each element of the first list (list1) and pairs it with each element of the second list (list2).

**34. Calculate the mean, median, and mode of a list of numbers using list comprehension:**

In [20]:
# Input list of numbers
numbers = [1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

# Calculate mean using list comprehension
mean = sum(numbers) / len(numbers)

# Calculate median using list comprehension
sorted_numbers = sorted(numbers)
median = (sorted_numbers[len(numbers)//2] + sorted_numbers[(len(numbers)-1)//2]) / 2

# Calculate mode using list comprehension
mode = max(set(numbers), key=numbers.count)

# Print the result
print("List of Numbers:", numbers)
print("Mean:", mean)
print("Median:", median)
print("Mode:", mode)

List of Numbers: [1, 2, 3, 4, 5, 5, 6, 7, 8, 9]
Mean: 5.0
Median: 5.0
Mode: 5

program calculates the mean, median, and mode of a list of numbers using list comprehension.

 mean is computed by dividing the sum of numbers by the count of numbers.

 median is calculated based on whether the count of numbers is even or odd.


 mode is determined by finding the most frequently occurring number in the list.

**35. Generate Pascal's triangle up to a specified number of rows using list comprehension:**

In [23]:
# Input number of rows
num_rows = int(input("ENter no of Rows : "))

# Generate Pascal's triangle
pascals_triangle = []

for i in range(num_rows):
    if i == 0:
        row = [1]
    else:
        row = [1]
        for j in range(1, i):
            row.append(pascals_triangle[i-1][j-1] + pascals_triangle[i-1][j])
        row.append(1)
    pascals_triangle.append(row)

# Print the result
print("Pascal's Triangle up to", num_rows, "rows:")
for row in pascals_triangle:
    print(row)

ENter no of Rows : 10
Pascal's Triangle up to 10 rows:
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

program generates Pascal's triangle up to a specified number of rows using nested list comprehension.

It initializes the first row with a single element 1 and builds subsequent rows based on the sum of elements from the previous row.

**36. Calculate the sum of the digits of a factorial of numbers from 1 to 5 using list comprehension:**

In [24]:
# Function to calculate factorial
def factorial(n):
    return 1 if n == 0 else n * factorial(n-1)

# Calculate the sum of digits using list comprehension
sum_of_digits = [sum(int(digit) for digit in str(factorial(num))) for num in range(1, 6)]

# Print the result
print("Sum of digits of factorials:", sum_of_digits)

Sum of digits of factorials: [1, 2, 6, 6, 3]

 program calculates the sum of digits of factorials for numbers from 1 to 5 using list comprehension.

It defines a factorial function to compute the factorial of a number.

list comprehension iterates over the range of numbers and calculates the sum of digits for the factorial of each number.

**37. Find the longest word in a sentence using list comprehension:**

In [26]:
# Input sentence
sentence = input(" Enter your sentence : ")

# Find the longest word using list comprehension
longest_word = max((word.strip(".,") for word in sentence.split()), key=len)

# Print the result
print("Sentence:", sentence)
print("Longest Word:", longest_word)

 Enter your sentence : my name is mayuresh
Sentence: my name is mayuresh
Longest Word: mayuresh

 program finds the longest word in a sentence using list comprehension.

It splits the sentence into words and uses the max function with a custom key function to find the word with the maximum length.

**38. Filter a list of strings to include only those with more than three vowels using list comprehension:**

In [28]:
# Input list of strings
string_list = ['hello', 'world', 'programming', 'python','aeiou']

# Filter strings with more than three vowels using list comprehension
filtered_strings = [string for string in string_list if sum(1 for char in string.lower() if char in 'aeiou') > 3]

# Print the result
print("Original String List:", string_list)
print("Filtered Strings:", filtered_strings)

Original String List: ['hello', 'world', 'programming', 'python', 'aeiou']
Filtered Strings: ['aeiou']

program filters a list of strings to include only those with more than three vowels using list comprehension.

It uses a nested list comprehension to count the number of vowels in each string and filters strings with more than three vowels.

**39. Calculate the sum of the digits of numbers from 1 to 1000 using list comprehension:**

In [29]:
# Calculate the sum of digits using list comprehension
sum_of_digits = [sum(int(digit) for digit in str(num)) for num in range(1, 1001)]

# Print the result
print("Sum of digits of numbers from 1 to 1000:", sum_of_digits)

Sum of digits of numbers from 1 to 1000: [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

program calculates the sum of digits for numbers from 1 to 1000 using list comprehension.

It iterates over the range of numbers and calculates the sum of digits for each number.

**40. Generate a list of prime palindromic numbers using list comprehension:**

In [30]:
# Function to check if a number is prime
def is_prime(num):
    return num > 1 and all(num % i != 0 for i in range(2, int(num**0.5) + 1))

# Generate prime palindromic numbers using list comprehension
prime_palindromes = [num for num in range(1, 1000) if is_prime(num) and str(num) == str(num)[::-1]]

# Print the result
print("Prime Palindromic Numbers up to 1000:", prime_palindromes)

Prime Palindromic Numbers up to 1000: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]

program generates a list of prime palindromic numbers using list comprehension.
It defines a is_prime function to check if a number is prime.

 list comprehension filters numbers that are both prime and palindromic (read the same backward as forward).